@import "tailwindcss";
@plugin "daisyui";

html {
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
    width: 100%;
}

/* custom css */
.containerr {
    max-width: 1440px;
    margin: auto;
}